.camp-create {
	display: flex;
	justify-content: center;
	width: 570upx;
	background: #444444;
	border-radius: 15upx;
	padding: 50upx;
}

.camp-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nickname {
	display: flex;
	height: 46upx;
	width: 550upx;
	background: #515151;
	border-radius: 30upx;
	margin-bottom: 40upx;
}

.textarea {
	display: flex;
	height: 323upx;
	width: 490upx;
	padding: 30upx;
	margin-bottom: 40upx;
	background: #595959;
	border-radius: 30upx;
	font-size: 29upx;
	line-height: 45upx;
	letter-spacing: 2upx;
	color: #FFFFFF;
	opacity: 0.7;
}

.color-tag {
}

.scroll {
	display: flex;
	height: 100upx;
	width: 550upx;
	white-space: nowrap;
	margin-bottom: 40upx;
}

.color-circle {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	border-radius: 50%;
	width: 50upx;
	height: 50upx;
	background: #444444;
}

.color-circle {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	border-radius: 50%;
	width: 50upx;
	height: 50upx;
	background: #444444;
}

.staff-avatar {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	color: #f1f1f1;
	opacity: 0.8;
	letter-spacing: 2upx;
	font-size: 10px;
	font-weight: 400;
	border: 2px solid #f1f1f1;
	border-radius: 10upx;
}

.button-submit {
	display: flex;
	width: 200upx;
	height: 50upx;
	background: #DBA503;
	box-shadow: 0upx 3upx 24upx 0upx rgba(253, 208, 65, 0.68);
	border-radius: 10upx;
	font-size: 21upx;
	font-weight: bold;
	letter-spacing: 2upx;
	color: #FFFFFF;
	justify-content: center;
	align-items: center;
}

.button-submit-hover {
	background: #FFFFFF;
	box-shadow: 0upx 3upx 24upx 0upx rgba(253, 208, 65, 0);
	color: #DBA503;
}
